html {
/*-- ---------------------------- Removing Flashes of Unstyled Content ---------------------- -- */
	visibility: visible !important;
	
	font-family: cFont, DejaVu Sans, Segoe UI, Helvetica;
	
    max-width: 100%;
}

* { margin: 0; }

@media only screen and (max-width: 1100px) { 

/* DropDown Content */
	
	div.dropdown .material-icons {
		font-size: 220%;
	}
	
/* Dropdown Button */
	#dropbtn {
	  background-color: transparent;
	  color: black;
	  margin-left: 20%;
	  font-size: 16px;
	  border: none;
	  cursor: pointer;
	}
	
	.dropbtn:hover, .dropbtn:focus {
	  background-color: black;
	}
	
/* The container <div> - needed to position the dropdown content */
	.dropdown {
	  float: left;
	}
	
/* Dropdown Content (Hidden by Default) */
	.dropdown-content {
	  display: none;
	  position: fixed;
	  background-color: white;
	  min-width: 100%;
	  height: 100vh;
	  overflow: auto;
	  z-index: 1;
	  top: 0;
	  left: 0;
	}
	
/* Links inside the dropdown */
	.dropdown-content a {
	  color: black;
	  padding: 15px 16px;
	  text-decoration: none;
	  display: block;
	}


	.dropdown a:hover {
		background-color: black;
		color: white;
	}

	.show {display: block;}
	
	.closeDropDown {
		float: right;
		font-size: 250%;
	}
	
/* Header Phone*/

	div.headerWeb {
		display: none;
	}

	div.headerPhone {
		display: block;
		width: auto;
		height: auto;
		background-color: transparent;
		text-align: center;
		padding-top: 25px;
		padding-bottom: 70px;
	}
	
	div.headerPhone #collectHeader {
	  display: block;
	  margin-left: auto;
	  margin-right: 5%;
	  margin-top: auto;
	  font-size: 190%;
	  font-family: cFontBoldNoI;
	  color: black;
	  text-align: right;		
	}
	
	div.headerPhone	#collectContactsHeader {
	  display: block;
	  margin-left: auto;
	  margin-right: 5%;
	  margin-top: auto;
	  font-size: 110%;
	  font-family: andaLemo;
	  color: black;
	  text-align: right;
	}
	
/* Body Phone Composition */
	
	div.body .collectRecords {
		font-size: 85%;
	}
	
	div.body .collectMusic {
		font-size: 85%;
	}
	
	div.body #labelCollect {
	  font-size: 250%;
	  margin-bottom: 9%;
	}
	
	div.body .recordLabelText {
		font-size: 75%;
	}
	
	div.body .cRecords {
		width: 80%;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
	
	div.body .cMusic {
		width: 80%;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
	
}

/* Header Web Composition */

	.headerPhone {
		display: none;
	}

/* Header Web Composition */

	.headerWeb {
		display: block;
		width: auto;
		height: auto;
		background-color: transparent;
		text-align: center;
		padding-top: 25px;
		padding-bottom: 80px;
	}
	
	.menuWeb a {
		font-family: andaLemo;
		text-decoration: none;
		color: black;
		font-size: 100%;
		margin: 2%;
	}
	
	.menuWeb a:hover {
		background-color: black;
		text-decoration: none; 
		padding: -3px -3px;
		color: white;
	}
	
/* Body Composition */
.body {
	width: 100%;
	height: auto;
	background-color: transparent;
}
/* Title Composition */
	#labelCollect {
	  display: block;
	  margin-left: auto;
	  margin-right: auto;
	  font-size: 350%;
	  font-family: cFontBold;
	  margin-left: 8%;
	  color: black;
	}
	
/* Logos Composition */
	.labelLogos {
	  display: block;
	  margin-left: auto;
	  margin-right: auto;
	  width: 86%;
	  margin-top: 3%;
	}
	
	.labelLogosDivs {
		width: 100%;
		margin-bottom: 5%;
	}
	
/* Text Composition */	
	.recordLabelText {
		font-size: 0.9vw;
		font-family: andaLemo;
		display: inline-block;
		vertical-align: top;
		margin-top: 5%;
		margin-left: 1%;
		width: 65%;
		word-spacing: -1px;
		line-height: 1.8;
		text-align: justify;
		text-justify: distribute;
	}
	
	@media only screen and (max-width: 500px) { 
		div.body .recordLabelText {
			display: block;
			width: 100%;
			margin-left: auto;
			margin-right: auto;
		}
	}	
	
/* Collect Records Composition */		
	.cRecords {
		width: 15%;
		margin-top: 1%;
	}
	
/* Collect Music Composition */	
	.cMusic {
		width: 15%;
		margin-top: 1%;
	}